---
import AstroTopFrameWorksCircle from "@/components/AstroTopFrameWorksCircle.astro";
import HMFLayout from "@/layouts/HMFLayout.astro";
---

<HMFLayout title="Home">
  <div slot="header"><h1>This is the header</h1></div>

  <div slot="main" class=""><h2>This is the main content of the page</h2></div>
  <Fragment slot="footer">
    <div class="h-32 w-3/5 grid place-items-center">
      <AstroTopFrameWorksCircle revealedFrameworks={["vue"]} />
    </div>
  </Fragment>
</HMFLayout>
