---
import AstroTopFrameWorksCircle from "@/components/AstroTopFrameWorksCircle.astro";
import Container from "@/components/Container.vue";
import HMFLayout from "@/layouts/HMFLayout.astro";
---

<HMFLayout title="Home">
  <Container slot="header">
    <hgroup>
      <h1>Complete Guide to Finding Your Perfect Tour Agent Match</h1>
      <p>
        Welcome to the astro and vue template made by
        <a
          href="https://www.twitter.com/SheltonLouisX"
          class="hover:underline underline-offset-2"
        >
          Shelton Louis
        </a>
      </p>
    </hgroup>

    <p>
      This section is the section that is supposed to introductory content like
      a hero section. I call this layout the <abbr
        title="Header Main and Footer Layout"
        class="underline-offset-2">HMFLayout</abbr
      >
    </p>
  </Container>
  <Container slot="main">
    <p>
      Enim egestas quis ullamcorper cursus nullam nisi, non, nulla. Vitae cursus
      convallis proin porta habitasse diam quis convallis. Augue molestie
      tincidunt sed in lacus, sodales etiam. Aliquam cursus amet pharetra sit
      ipsum magna. Facilisis rhoncus eget tempor, duis in. Auctor pulvinar enim
      egestas fermentum euismod tortor. Vel morbi porta eleifend placerat ut
      porttitor in in pellentesque. Accumsan sit cum aenean senectus tristique
      nisl quis eget. Tristique mi molestie justo lobortis laoreet. Quam urna ut
      adipiscing netus eget.
      <kbd>ctrl</kbd>
      <span>+</span>
      <kbd>space</kbd>
    </p>
  </Container>
  <Container slot="footer" class="w-3/5 grid place-items-center">
    <AstroTopFrameWorksCircle revealedFrameworks={["vue"]} />
  </Container>
</HMFLayout>
