---
import type { HtmlHTMLAttributes } from "vue";

export interface Props extends HtmlHTMLAttributes {
  class: string;
}

const { class: $class } = Astro.props;
---

<div class={`mx-auto max-w-screen-lg ${$class}`}>
  <slot> Noting to contain</slot>
</div>
